.topMainPage{
    display: flex;
    width: 100%;
    height: 50px;
    background-image: url(../imageMainPage/topHeaderPage.jpg);
    background-position-y: -10px;
}
.topMainPage .overlay{
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   background: linear-gradient(90deg, rgba(138,123,127,1) 0%, rgba(231,223,222,0.20521712102809875) 56%);
   justify-content: center;
   color: #aaa;
}

.topNav{
    height: 55px;
    width: 100%;
    box-shadow: 0 1px 10px #aaaaaa;
}

.warpper {
    margin: 0 auto;
    width: 80%;

}

/* Truyện mới đăng */

.updated-Container{
    width: 100%;
    box-shadow: 0 0 10px black;
    padding-top: 24px;
}



.updated-story-image{
    width: 100%;
    height: 350px;
    margin-bottom: 24px;

}

/* Custome Search */
.custome-navbar-search{
    position: relative;
}

.search-icon{
    position: absolute;
    right: 20px;
}

.border-search{
    border-radius: 90px !important;
}
/* Mega Dropdown */
.mega-dropdown {
    overflow: hidden;
    width: 350px;
    padding: 20px;
    background-color: #D5D8DF !important;
    opacity: .8;
}

.mega-dropdown-margin a{
    margin: 0 5px;
    width: auto;
}

.mega-dropdown-margin a:hover {
    background-color: #AAACB3;
  }

@media (max-width:576px){
    .mega-dropdown{
        width: 100%;
        text-align: left;
    }
}

@media (min-width:576px){
    .mega-dropdown{
        width: 100%;
        text-align: left;
    }
}

@media (min-width:992px) {
    .mega-dropdown{
        width: 350px;
        text-align: center;
    }
}


/* Top Ranking Component */

.topRanking-Component{
    align-items: center;
    border: 1px solid black;
}
.default-option ul{
    list-style: none;
    text-decoration: none;
}

.topView-story{
    font-size: 18px;
}

.topView-author{
    font-size: 14px;
}

.topview-viewer{
    font-size: 15px;
}

.ranking-1_icon{
    border: 1px solid #dddddd;
    height: 110px;
    width: 100%;
}

/**Chapter**/
.updated-Container1{
    width: 100%;
    padding-top: 24px;
}
#chapter-info .chapter-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color: #373d3f;
    font-family: Roboto,sans-serif;
}


